Repository audgirka/ansible-backstage-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: plugins, e2e

.codecov.yml:

# Codecov configuration for ansible-backstage-plugins
coverage:
  ignore:
    - "packages/**/*"           # Ignore all files in packages directory
    - "node_modules/**/*"       # Ignore node_modules
    - "dist/**/*"               # Ignore build output
    - "build/**/*"              # Ignore build output
    - "coverage/**/*"           # Ignore coverage reports
    - "**/*.test.ts"            # Ignore test files
    - "**/*.test.tsx"           # Ignore test files
    - "**/*.spec.ts"            # Ignore spec files
    - "**/*.spec.tsx"           # Ignore spec files
    - "**/*.stories.ts"         # Ignore storybook files
    - "**/*.stories.tsx"        # Ignore storybook files
    - "examples/**/*"           # Ignore examples
    - "docs/**/*"               # Ignore documentation
    - "**/mock/*" 
    - "**/dynamic/*"
    - "**/mock*.ts"
    - "**/Mock*.ts"
 
  # Coverage targets
  status:
    project:
      default:
        target: 70%              # Target 70% coverage for the project
        threshold: 5%            # Allow 5% drop in coverage
      plugins:
        target: 80%              # Higher target for plugins specifically
        threshold: 5%
        flags:
          - plugins
      e2e:
        target: auto             # Auto target for e2e coverage
        threshold: 10%
        flags:
          - e2e
    patch:
      default:
        target: 80%              # Target 80% coverage for new code
        threshold: 10%           # Allow 10% drop for patches

# Add dedicated flags for different coverage types
flags:
  plugins:
    paths:
      - "plugins/"
    carryforward: true
  e2e:
    paths:
      - "e2e-tests/"
    carryforward: true

# Comment configuration with enhanced layout
comment:
  layout: "header,diff,flags,components,tree,footer"
  behavior: default
  require_changes: false
  show_carryforward_flags: true

# GitHub Checks integration
github_checks:
  annotations: true

# Pull Request comment settings
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      macro: no
      method: no

Update: micro-copy Template (#42)
  plugins/self-service/src/components/Home/Home.test.tsx
  plugins/self-service/src/components/Home/Home.tsx
Due: plugins

Fix login step for E2E tests (#43)
  e2e-tests/cypress.base.config.ts
  e2e-tests/cypress/e2e/utils/common.ts
Due: e2e

[EE] ensure that the suggested image name in README is always in lowercase (#46)
  plugins/scaffolder-backend-module-backstage-rhaap/src/actions/createEEDefinition.ts
Due: plugins

fix: Fix StepForm test missing await and multiple element match
  plugins/self-service/src/components/CreateTask/StepForm.test.tsx
Due: plugins

Revert "Wait for PR workkflow to complete before running Code Quality workkfl…" (#58)
  .github/workflows/code-quality.yml
Due: none

Retry downloading artifacts when running CodeQuality check (#59)
  .github/workflows/code-quality.yml
Due: none

[EE Builder Exp] do not allow .yaml | .yml extensions in EE name (#61)
  plugins/self-service/src/components/Scaffolder/EEFileNamePicker/EEFileNamePickerExtension.test.tsx
  plugins/self-service/src/components/Scaffolder/EEFileNamePicker/EEFileNamePickerExtension.tsx
Due: plugins

fix: resolve tab navigation sync and catalog interaction issues (#50)
  plugins/self-service/src/components/ExecutionEnvironments/TabviewPage.test.tsx
  plugins/self-service/src/components/ExecutionEnvironments/TabviewPage.tsx
  plugins/self-service/src/components/ExecutionEnvironments/catalog/CatalogContent.tsx
Due: plugins

[EE Builder Exp][AAP-61060] ensure description in generated software template is valid YAML (#62)
  plugins/scaffolder-backend-module-backstage-rhaap/src/actions/createEEDefinition.test.ts
  plugins/scaffolder-backend-module-backstage-rhaap/src/actions/createEEDefinition.ts
Due: plugins

UX enhancements for Review and Templates page (#63)
  plugins/self-service/src/components/CreateTask/StepForm.test.tsx
  plugins/self-service/src/components/CreateTask/StepForm.tsx
  plugins/self-service/src/components/ExecutionEnvironments/create/CreateContent.test.tsx
  plugins/self-service/src/components/ExecutionEnvironments/create/CreateContent.tsx
  plugins/self-service/src/components/Home/Home.test.tsx
  plugins/self-service/src/components/Home/Home.tsx
  plugins/self-service/src/components/utils/TagFilterPicker.test.tsx
  plugins/self-service/src/components/utils/TagFilterPicker.tsx
Due: plugins

chore: add patchback configuration for automated backports
  .github/patchback.yml
Due: none

feat(self-service): add write scope to OAuth2 default scopes (#133)
  plugins/self-service/src/apis.ts
Due: plugins

fix: add safe-to-test security gate for pull_request_target
  .github/workflows/code-quality.yml
  .github/workflows/safe-to-test.yml
  CONTRIBUTING.md
Due: none

fix: Execution Environments catalog creation order (#145)
  plugins/self-service/src/components/ExecutionEnvironments/catalog/CatalogContent.test.tsx
  plugins/self-service/src/components/ExecutionEnvironments/catalog/CatalogContent.tsx
  plugins/self-service/src/components/ExecutionEnvironments/catalog/EEDetailsPage.tsx
Due: plugins

Revert PR #139 for labels (#158)
  .github/workflows/code-quality.yml
  .github/workflows/safe-to-test.yml
  CONTRIBUTING.md
Due: none

feat: add free-form text field for yaml typing/pasting collection requirements (#154)
  plugins/scaffolder-backend-module-backstage-rhaap/src/actions/createEEDefinition.ts
  plugins/self-service/src/components/Scaffolder/FileUploadPicker/FileUploadPickerExtension.test.tsx
  plugins/self-service/src/components/Scaffolder/FileUploadPicker/FileUploadPickerExtension.tsx
Due: plugins

chore: Upgrade to yarn 4.12.0 (#152)
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: none

Add unit tests for AAP token revocation on logout
  packages/app/src/components/GlobalHeader/GlobalHeader.test.tsx
  plugins/auth-backend-module-rhaap-provider/src/authenticator.test.ts
  plugins/backstage-rhaap-common/src/AAPClient/AAPClient.test.ts
  plugins/self-service/src/components/AAPLogoutButton/AAPLogoutButton.test.tsx
  plugins/self-service/src/plugin.test.ts
Due: plugins

feat: add Playwright test framework with single-login authentication
  e2e-tests/.env.example
  e2e-tests/.gitignore
  e2e-tests/debug-after-login.png
  e2e-tests/package.json
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/AUTH_APPROACHES.md
  e2e-tests/playwright/README.md
  e2e-tests/playwright/fixtures/auth-context.ts
  e2e-tests/playwright/global-setup.ts
  e2e-tests/playwright/scripts/manual-login.ts
  e2e-tests/playwright/tests/self-service/login-debug.spec.ts
  e2e-tests/playwright/tests/self-service/login.spec.ts
  e2e-tests/playwright/tests/setup/auth.setup.ts
  e2e-tests/playwright/utils/auth-aap-first.ts
  e2e-tests/playwright/utils/auth.ts
  e2e-tests/yarn.lock
Due: e2e

fix: stabilize Playwright E2E tests for CI reliability
  e2e-tests/playwright.config.ts
  e2e-tests/playwright/fixtures/auth-context.ts
  e2e-tests/playwright/tests/self-service/browse.spec.ts
  e2e-tests/playwright/tests/self-service/create.spec.ts
  e2e-tests/playwright/tests/self-service/ee01-tabview.spec.ts
  e2e-tests/playwright/tests/self-service/ee02-template-execution.spec.ts
  e2e-tests/playwright/tests/self-service/ee03-detail-view.spec.ts
  e2e-tests/playwright/tests/self-service/ee04-deregister-template.spec.ts
  e2e-tests/playwright/tests/self-service/history.spec.ts
  e2e-tests/playwright/tests/self-service/job-template-sync.spec.ts
  e2e-tests/playwright/tests/self-service/login-debug.spec.ts
  e2e-tests/playwright/tests/self-service/login.spec.ts
  e2e-tests/playwright/tests/setup/auth.setup.ts
  e2e-tests/playwright/utils/auth.ts
Due: e2e

feat: disable sync trigger during active sync using Backstage Signals
  packages/app/package.json
  packages/app/src/apis.ts
  packages/backend/package.json
  packages/backend/src/index.ts
  plugins/catalog-backend-module-rhaap/package.json
  plugins/catalog-backend-module-rhaap/src/module.ts
  plugins/catalog-backend-module-rhaap/src/providers/AAPEntityProvider.ts
  plugins/catalog-backend-module-rhaap/src/providers/AAPJobTemplateProvider.ts
  plugins/catalog-backend-module-rhaap/src/providers/SyncStateTracker.ts
  plugins/self-service/package.json
  plugins/self-service/src/apis.ts
  plugins/self-service/src/components/Home/Home.test.tsx
  plugins/self-service/src/components/Home/Home.tsx
  yarn.lock
Due: plugins

feat: enrich sync signal with lastSyncTime, spinning icon, useEffect update
  plugins/catalog-backend-module-rhaap/src/providers/SyncStateTracker.ts
  plugins/self-service/src/components/Home/Home.tsx
Due: plugins

test: add coverage for signals integration
  plugins/self-service/src/components/Home/Home.test.tsx
Due: plugins

fix failing test for apis.ts
  plugins/self-service/src/apis.test.ts
Due: plugins

test: add signals integration tests for SyncStateTracker
  plugins/catalog-backend-module-rhaap/src/providers/SyncStateTracker.test.ts
Due: plugins

fix: podman dev env with install-dynamic-plugins, header, and RBAC
  app-config.podman.yaml
  dynamic-plugins.podman.yaml
  run-with-podman.sh
Due: none

feat: podman dev environment with RHDH container
  app-config.podman.yaml
  dynamic-plugins.podman.yaml
  plugins/self-service/src/components/SignInPage/SignInPage.test.tsx
  run-with-podman.sh
Due: plugins

feat: add dev watcher, signals config, and container restart support
  dynamic-plugins.podman.yaml
  package.json
  plugins/self-service/src/components/Home/Home.test.tsx
  run-with-podman.sh
  watch-and-restart.sh
Due: plugins

test(self-service): improve source filter coverage for SonarCloud
  plugins/self-service/src/components/Home/Home.test.tsx
  plugins/self-service/src/components/Home/Home.tsx
  plugins/self-service/src/components/utils/SourcePicker.test.tsx
Due: plugins

fix(e2e): use catalog API for multi-org entity checks
  e2e-tests/playwright/tests/self-service/multi-org-template-visibility.spec.ts
  e2e-tests/playwright/tests/self-service/multi-org-ui.spec.ts
Due: e2e

feat(self-service): soft-refresh Home templates catalog without remount
  e2e-tests/playwright/tests/self-service/multi-org-template-visibility.spec.ts
  e2e-tests/playwright/tests/self-service/templates01-catalog.spec.ts
  plugins/self-service/src/components/Home/Home.test.tsx
  plugins/self-service/src/components/Home/Home.tsx
  plugins/self-service/src/components/Home/LoadingTemplatesPlaceholder.tsx
  plugins/self-service/src/components/Home/TemplatesPagination.test.tsx
  plugins/self-service/src/components/Home/TemplatesPagination.tsx
  plugins/self-service/src/components/Home/constants.ts
  plugins/self-service/src/components/Home/filters/HomeCategoryPicker.tsx
  plugins/self-service/src/components/Home/filters/HomeTagPicker.tsx
  plugins/self-service/src/components/Home/filters/index.ts
  plugins/self-service/src/components/Home/templatesCatalog/SoftRefresh.test.tsx
  plugins/self-service/src/components/Home/templatesCatalog/SoftRefresh.tsx
  plugins/self-service/src/components/Home/templatesCatalog/TemplateGrid.tsx
  plugins/self-service/src/components/Home/templatesCatalog/TemplatesCatalogProvider.tsx
  plugins/self-service/src/components/Home/templatesCatalog/buildHomeTemplateQuery.test.ts
  plugins/self-service/src/components/Home/templatesCatalog/buildHomeTemplateQuery.ts
  plugins/self-service/src/components/Home/templatesCatalog/buildVisibilityPredicate.ts
  plugins/self-service/src/components/Home/templatesCatalog/createHomeCatalogApi.test.ts
  plugins/self-service/src/components/Home/templatesCatalog/createHomeCatalogApi.ts
  plugins/self-service/src/components/Home/templatesCatalog/index.ts
  plugins/self-service/src/components/Home/templatesCatalog/invalidation.test.ts
  plugins/self-service/src/components/Home/templatesCatalog/invalidation.ts
  plugins/self-service/src/components/Home/templatesCatalog/offsetRefresh.test.ts
  plugins/self-service/src/components/Home/templatesCatalog/offsetRefresh.ts
  plugins/self-service/src/components/Home/templatesCatalog/useStaleWhileRevalidate.test.ts
  plugins/self-service/src/components/Home/templatesCatalog/useStaleWhileRevalidate.ts
Due: plugins, e2e
